/* Custom Font: Sattanic */
@font-face {
    font-family: 'Sattanic';
    src: url('../fonts/Sattanic-DEMO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sale Banner */
.wpgs-glasses-sale-banner {
    display: flex;
    align-items: center;
    background-image: url('../images/glasses-bg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 100%;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
}

/* Grid Layout */
.wpgs-glasses-sale-banner-container {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    align-items: center;
    padding: 90px 115px;
}

.wpgs-glasses-brand-line {
    display: flex;
    align-items: flex-end;
}

h1.wpgs-glasses-title {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 1;
}

h2.wpgs-glasses-sub-title {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 80px;
    line-height: 1;
    letter-spacing: -4px;
}

.wpgs-glasses-model {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 42px;
    line-height: 1;
    margin-bottom: 5px;
}

.wpgs-glasses-tagline {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    max-width: 300px;
    margin-bottom: 24px;
}

.wpgs-glasses-shop-button {
    padding: 16px 32px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.wpgs-glasses-shop-button:hover {
    background-color: #2d3748;
}

.wpgs-glasses-offer-banner {
    text-align: center;
}

.wpgs-glasses-upto {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 58px;
    line-height: 1;
    text-align: justify;
    margin: 0;
}

.wpgs-glasses-offer-text {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 10px;
}

.wpgs-glasses-big-number {
    color: #876100;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 100px;
    line-height: 0.75;
}

.wpgs-glasses-percent-off {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
    margin-bottom: 12px;
    text-align: center;
    line-height: 1.2;
}

.wpgs-glasses-percent,
.wpgs-glasses-off {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 1;
    text-transform : uppercase;
}

.wpgs-glasses-countdown {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 14px;
}

.wpgs-glasses-time-box-min {
    background-color: #CEB069;
    color: white;
    padding: 15px 10px;
    border-radius: 20px;
    width: 80px;
    text-align: center;
}

.wpgs-glasses-time {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 34px;
    color: #2A2A2B;
    display: block;
}

.wpgs-glasses-label {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 8px;
    display: block;
}

.wpgs-glasses-sale-image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.wpgs-glasses-sale-image img {
    max-width: 350px;
    object-fit: contain;
}
